.comment{
     display: none;
}

.comment input{
    width: 10%;
    float: left;
}

.comment .input{
    width: 60%;
    height: 38px;
    font-size: 14px;
    line-height: 16px;
    float: left;


}