{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    {% block title %}
        <title>江理交易</title>
    {% endblock %}


    <link rel="stylesheet" href={% static 'index/css/Swiper3.4.2.min.css' %}>
    <link rel="stylesheet" href={% static 'index/css/base.css' %}>
    <link rel="stylesheet" href={% static 'index/css/publicHead.css' %}>
    <link rel="stylesheet" href={% static 'index/css/publicFooter.css' %}>
    <link rel="stylesheet" href={% static 'index/css/index.css' %}>

    {% block css %}
    {% endblock %}


    <script src={% static 'index/js/jquery-1.12.3.js' %}></script>
    <script src="{% static 'index/js/Swiper3.4.2.min.js' %}"></script>
    {#    <script src="https://cdn.bootcss.com/jquery-cookie/1.1/jquery.cookie.js"></script>#}
    <script src="{% static 'index/js/jquery.cookie.js' %}"></script>
    <script src={% static 'index/js/index.js' %}></script>
    <script src={% static 'index/js/goodslist.js' %}></script>

    {% block js %}

    {% endblock %}

</head>


<!--加载进度-->
{#<div id="loginbar"></div>#}
<!--头部-->
{% block header %}
    <div id="header">
        <div class="box">
            <!--登录----注册-->
            <div class="hd_login">
                {% if user %}
                    <a href=‘#’><i>欢迎！{{ user.username }}</i></a>
                    <a href="#"><img src="/static/mine/img/{{ user.img }}" alt=""></a>
                    <a href={% url 'app:logout' %}><i style="color:black"> 退出</i></a>
                {% else %}
                    <a href={% url 'app:login' %}><i>登录</i></a>
                    <a href={% url 'app:register' %}><i> 注册</i></a>
                {% endif %}


            </div>
            <!--右侧导航-->
            <ul class="list">
                <li class="gwc">
                    <a href={% url 'app:cart' %}>
                        <span id="shopNum" class="num">{{ num }}</span>
                        <i class="gwc_bg"></i>购物车<em class="num">{{ num }}</em>件 <i class="spinner"></i>
                    </a>
                    <ul class="subNav">
                        <b>最新加入的商品</b>
                        {% if carts %}
                            {% for cart in carts %}
                                <div class="show_cart">{{ cart.goods.title }}</div><span>..</span>&nbsp;&nbsp;
                                <span style="color: red">×{{ cart.number }}</span>
                            {% endfor %}
                        {% else %}
                            <div id="product">
                                <img src="{% static 'img/loading.gif' %}" style="margin-top:30px"/>
                            </div>
                        {% endif %}

                        <!--商品数量，总金额-->
                        <div class="gwc_bottom">
                            <div>共<span class="num">{{ num }}</span>件商品 &nbsp;总计金额:<span id="total">¥{{ sum }}</span>
                            </div>
                            <a href={% url 'app:cart' %}>结算购物车</a>
                        </div>
                    </ul>
                </li>

                <li><a href="#">用户中心 <i class="spinner"></i></a>
                    <ul class="subNav">
                        <li><a href="{% url 'app:userinfo' %}">用户信息</a></li>
                        <li><a href="{% url 'app:upfile' %}">头像修改</a></li>
                        <li><a href="{% url 'app:upadd' %}">收货地址</a></li>

                    </ul>
                </li>

                <li><a href={% url 'app:myorder' %}>我的订单<i class="spinner"></i></a>
                    <ul class="subNav">
                        <li><a href="{% url 'app:myorders' 1 %}">待付款<span style="color: red">{{ num1 }}</span></a></li>
                        <li><a href="{% url 'app:myorders' 2 %}">待收货<span style="color: red">{{ num2 }}</span></a></li>
                        <li><a href="{% url 'app:myorders' 3 %}">待评价<span style="color: red">{{ num3 }}</span></a></li>
                    </ul>
                </li>
                <li><a href="#">商品管理<i class="spinner"></i></a>
                    <ul class="subNav">
                        <li><a href="{% url 'app:goodsup' %}">商品发布</a></li>
                        <li><a href="{% url 'app:goodsmanage' %}">商品管理</a></li>
                        <li><a href="{% url 'app:customerorder' %}">顾客订单</a></li>
                    </ul>
                </li>
                <li><a href="#">新闻中心 <i class="spinner"></i></a>
                    <ul class="subNav">
                        <li><a href="http://www.jxust.cn/index/jlxw1.htm">校园新闻</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}


<!--广告-->
<div id="banner">
    <!--以背景的方式-->
    <div></div>
</div>


<!--页面主体-->
<div id="main">
    <div class="main_top">
        <!--logo-->
        <div class="logo">
            <a href="http://www.jxust.cn/"><img src="{% static 'img/05053060183653829.png' %}"></a>
        </div>
        <!--搜索-->
        <div class="main_search">
            <form action="#" method="get">
                <input type="text" name="search_txt" id="search_txt" value="" placeholder=" 搜索 内部链接 试试^.^">
                <input type="submit" name="" id="search_btn" value="搜索">
            </form>
            <ul id="recommend">
                <!--示例-->
                <!--<li><a href="">iPhone 7</a></li>-->
            </ul>
        </div>
        <!--认证--招商--需求-->
        <div class="top_menu">
            <ul>
                <li><img src="{% static 'img/baoyou.png' %}"><span>送货上寝</span></li>
                <li><img src="{% static 'img/jiameng.png' %}"><span>招商加盟</span></li>
                <li><img src="{% static 'img/xuqiu.png' %}"><span>需求发布</span></li>
            </ul>
        </div>
    </div>


    <!--分类导航-->
    {% block layout %}
        <div class="top_layout">
            <div class="box">
                <div class="tittle" id="goodstype" status="flase">
                    <h3><a href="#">所有商品分类</a></h3>
                    <i class="arrow"></i>
                </div>
                <ul>
                     <li><a href={% url 'app:index' %} class="current">首页</a></li>
                    <li><a href="http://www.jxust.cn/xxgk/xydy/1.htm">学校概况</a></li>
                     <li><a href="http://cxcyxy.jxust.edu.cn/">创业</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">理工二手社区</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>

        </div>
    {% endblock %}


    <!--菜单-->
    <div class="menu">
        <ul>
            {% for classify in classifys %}


                <li typeid={{ classify.typeid }}>
                    <h2><a href="#">{{ classify.typename }}</a></h2>

                </li>


            {% endfor %}
            <div class="sub_menu">
                <div class="sm_tle"><span></span>
                    <div class="fenlei">
                        <div class="aa"><a></a></div>
                    </div>
                </div>

            </div>
        </ul>


    </div>
    <!-------------------------------分隔线------------------------------------->



    {% block content %}

        <div class="showgoods">
            {% for goods in goods_list %}
                <div class="goods">
                    {% if not goods.publish.isdelete %}
                        <div id="img"><img src="/static/mine/img/{{ goods.publish.user.img }}" alt="">发布者:{{ goods.publish.user.username }}</div>
                        <div class="goodstime">{{ goods.publish.updatetime|date:'Y-m-d H:i:s' }}</div>
                        <a href="{% url 'app:shop' goods.id %}">
                            <div class="img">
                                <img src="{% static goods.img %}" alt="">
                            </div>
                            <div class="title">{{ goods.name }} &nbsp;&nbsp;{{ goods.price }}</div>

                        </a>
                        <br><br>
                    {% endif %}
                </div>

            {% endfor %}
        </div>





        <!-- 右侧nav -->
        <div class="rightNav">

            <!--广告-->
            <div style="position: absolute; top: -62px; left: -11px;">
            </div>
            <div>
            </div>

            <div class="user_Status">
                <div id="user_Img">
                    {% if user %}


                    <img src="/static/mine/img/{{ user.img }}" alt="">
                    {% else %}
                    <img src="{% static 'img/person.png' %}">
                     {% endif %}
                </div>
                <div class="user_Name">
                    <span class="username">Hi,您好</span>
                    <span class="username" style="color: red">{{ user.username }}</span>
                    <br>
                    <span class="memberinfo">欢迎来到江理交易</span>
                    <span style="color: red;">普通会员</span>
                </div>
                <div class="login">

                    {% if user %}


                        <span class="logged">
                    <div class="strip-range" style="width:12%"></div>
                </span>
                        <span>您还差<em class="integral">2000</em>积分，达到金牌会员</span>
                    {% else %}
                        <span class="not_Logged">
                    <a href={% url 'app:login' %}>登录</a>
                    <a href={% url 'app:register' %}>注册</a>
                </span>
                    {% endif %}
                </div>

            </div>
            <!--公告-->
            <ul class="proclamation">
                <li>
                    <a href="#">【通知】签到红包活动取消</a>
                    <time>(2019-03-16)</time>
                </li>
                <li>
                    <a href="#">【通知】签到红包活动取消</a>
                    <time>(2019-03-08)</time>
                </li>
            </ul>
            <!--生活充值-->
            <ul class="conve_bd_wrap">
                <li>
                    <a href="#"><i class="mi-iconfont"><img src="{% static 'img/phone.png' %}"></i>话费</a>
                </li>
                <li>
                    <a href="#"><i class="mi-iconfont"><img src="{% static 'img/plane.png' %}"></i>机票</a>
                </li>
                <li>
                    <a href="#"><i class="mi-iconfont"><img src="{% static 'img/gift.png' %}"></i>礼品卡</a>
                </li>
            </ul>

            <div class="sider_ad">
                <a href="#"><img src="{% static 'img/05207092778389479.jpg' %}"></a>
            </div>

        </div>




        <!--解决高度缺失-->
        <div style="height:40px; clear:both;"></div>






    {% endblock %}
























    {#    <div style="height: 2px; background: #D93600;display: block;position: absolute;overflow:hidden;width:100%;top: 266px;left: 0;"></div>#}


    ​


</html>


