{% extends 'cart/cart.html' %}
{% load static %}
{% block cart %}

    {% block js %}
        {#        <script src={% static 'order/js/order.js' %}></script>#}
        <script src={% static 'order/js/myorder.js' %}></script>

    {% endblock %}


{% endblock %}
{% block css %}
     <link rel="stylesheet" type="text/css" href="{% static 'order/css/myorder.css' %}"/>


{% endblock %}

{% block content %}
    <!--页面主体-->
    <div id="myCart">
        {% for order in orders %}



            <div class="mc_top">
                <h2 identifier={{ order.identifier }}>订单号：{{ order.identifier }}</h2>
                <i>下单时间：{{ order.createtime }}</i>
            </div>
            <tltle class="mc_btm">
            <dl>
                <dd>
                    <span>商品id</span>
                    <span>商品名</span>
                    <span>单价(元)</span>
                    <span>数量</span>
                    <span>小计</span>
                </dd>
                {% for ordergoods in order.ordergoods_set.all %}



                    <dd class="order">
                        <span>{{ ordergoods.goods.id }}</span>
                        <span>{{ ordergoods.goods.name }}</span>
                        <span>{{ ordergoods.goods.price }}</span>
                        <span class="num" n={{ ordergoods.num }}>{{ ordergoods.num }}</span>
                        <span style="color: red" class="total"
                              price={{ ordergoods.total }}>￥{{ ordergoods.total }}</span>
                        {% if order.status == 1  %}
                            <button identifier={{ order.identifier }}>确认收货</button>
                            {% elif order.status == 2  %}
                            <button identifier={{ order.identifier }}>确认收货</button>
                             {% elif order.status == 3 %}
                        <a goods={{ ordergoods.goods.id }} >评价<span identifier={{ order.identifier }}></span></a>
                    {% endif %}


                    </dd>

                {% endfor %}
                <dd>
                    <span>状态</span>
                    <span>--</span>
                    <span>--</span>
                    {% if order.status == 0 %}
                        <span>未付款</span>
                    {% elif order.status == 1 %}
                        <span>已付款，待发货</span>
                    {% elif order.status == 2 %}
                        <span>已发货，待收货</span>
                    {% elif order.status == 3 %}
                        <span>已收货，待评价</span>
                    {% elif order.status == 4 %}
                        <span>已评价</span>
                    {% endif %}
                </dd>
            <dd class="comment">
                <form action={% url 'app:comment'  %} method="post">
                    {% csrf_token %}
                    <input type="text" name="identifier" class="this_identifier" >
                    <input type="text" name="goodsid" class="goodsname" placeholder="填写商品id">
                    <input type="text" name="comment" class="input">
                    <input type="submit" value="发表">
                </form>
{#                <button>发表</button>#}
            </dd>


            </dl>
            <dl>


            </dl>
            <br><br><br>
            <hr>

        {% endfor %}




{% endblock %}